<!DOCTYPE html>
<html class="mdc-typography">

<head>
    <title>Twitter Analysis</title>
    <link rel="stylesheet" href="material-components-web.css">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <header class="mdc-toolbar">
        <div class="mdc-toolbar__row">
            <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
                <span class="mdc-toolbar__title">Twitter Analysis</span>
            </section>
        </div>
    </header>
    <div class="app-body">
        <h4 class="mdc-typography--display1">Twitter Username</h4>
        <form action="/connect" method="POST">
            <div class="mdc-textfield mdc-form-field" data-mdc-auto-init="MDCTextfield">
                <input type="text" class="mdc-textfield__input" id="userName" name="userName" required>
            </div>
            <button onclick="connect" class="mdc-button mdc-button--raised mdc-button--primary">
            Submit
          </button>
        </form>
        <script src="material-components-web.js"></script>
        <script>
            mdc.autoInit()
        </script>
    </div>
</body>

</html>